:root {
    --square_size: 15px;
    --main_grid_width: 10;
    --preview_grid_width: 4;
    --square_color: #9ea488;
    --screen_color: #a5ac8d;
    --screen_padding: 5px;
    --screen_border: 30px;
    --tetris_color: #222;
    --disabled_color: #9ea488;
    --enabled_color: #222;
    --button_color: #ff0;
    --on_button_color: #0f0;
    --off_button_color:  #f00;
}
@font-face{
    font-family: "Digi";
    src: url("DS-DIGI.TTF") format("truetype");
}
.square{
    width: calc(var(--square_size) / 3);
    height: calc(var(--square_size) / 3);
    padding: 0;
    border: calc(2 * var(--square_size) / 15) solid var(--screen_color);
    margin: calc(var(--square_size) / 5);
    outline: calc(2 * var(--square_size) / 15) solid var(--square_color);
    background: var(--square_color);
}
#tetris{
    width: calc(var(--square_size) * 20);
    padding: calc(var(--square_size) * 2);
    border-radius: var(--square_size);
    margin: 0 auto;
    background-color: var(--tetris_color);
    font-family: monospace;
    color:#fff;
    text-transform: uppercase;
}
#screen{
    width: calc(var(--square_size) * 14 + var(--screen_padding) * 2);
    padding: var(--screen_padding);
    border: var(--screen_border) solid var(--tetris_color);
    border-radius: var(--square_size);
    outline: 2px solid #fff;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--screen_color);
    box-shadow: 0 0 calc(var(--square_size) / 3) #000 inset;
    color: #222;
    position: relative;
} 
#screen:before{
    content: "SUPER";
    color: #fff;
    display: block;
    position: absolute;
    top: -55px;
    font-size: 2em;
    background: var(--tetris_color);
    padding: 10px;
}
#screen:after{
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #000;
    left: calc(var(--square_size) * 10 + var(--screen_padding) * 2);
}
#main{
    width: calc(var(--square_size) * var(--main_grid_width));
}
#info{
    width: calc(var(--square_size) * var(--preview_grid_width));
    display: grid;
    align-content: space-between;
    font-family: "Digi";
}
#info > div{
    width: inherit;
}
#info > div > p{
    line-height: var(--square_size);
    padding: 0 0 var(--square_size);
}
#score{
    line-height: var(--square_size);
}
.grid{
    display: flex;
    flex-wrap: wrap;
}
.tetromino{
    outline: 2px solid var(--enabled_color);
    background: var(--enabled_color);
}
#level{
    display: flex;
    justify-content: space-between;
    font-size: calc(4 * var(--square_size) / 5);
}
#indicatorsWrapper{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
#indicatorsWrapper .indicator{
    font-size: 1.3em;
    line-height: 1.3em;
}
#indicatorsWrapper .nameIndicator{
    font-size: 0.45em;
}
#controlButtons{
    width: calc(var(--square_size) * 16);
    padding: var(--screen_padding);
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
#moveButtons{
    width: calc(var(--square_size) * 16);
    padding: 30px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#moveButtonsX{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
button{
    padding: 0;
    border: 0;
    background: var(--button_color);
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 4px #444;
}
.powerOn{
    background: var(--on_button_color);
}
.powerOff{
    background: var(--off_button_color);
}
button:hover {
    filter: contrast(1.2);
}
button:active {
  box-shadow: 0 2px #111;
  transform: translateY(2px);
}
#controlButtons button{
    width: 25px;
    height: 25px;
}
#moveButtons button{
    width: 40px;
    height: 40px;
}
button#rotate{
    width: 85px;
    height: 85px;
}
.control p{
    font-size: 0.6em;
    margin: 5px 0 0;
    text-align: center;
}
#logo{
    font-size: 2em;
    padding: 0 30px;
}
.disabled{
    color: var(--disabled_color);
}
.enabled{
    color: var(--enabled_color);
}
p{
    margin: 0px;
    text-overflow: ellipsis;
}